logbook/*.pdf
slides/*.pdf
paper/*.pdf
pres/*.pdf
grants/*.pdf

renv/
logbook/input/
slides/input/
paper/input/
pres/input/
grants/input/

tasks/*/input/
tasks/*/output/
tasks/*/temp/
slurmlogs

tasks/*/code/*.py.o*
tasks/*/code/*.py.e*
tasks/*/code/*.asv

.DS_Store
*.aux
**/code/*.log
**/logbook/*.log
*.out
*.synctex.gz
*.toc
*.bbl
*.blg
*.md5
*.dpth
*.auxlock
*.fdb_latexmk
*.fls
logbook.synctex(busy)

run.sbatch
!tasks/setup_environment/code/run.sbatch
*.auxlock
grants/fontsize.sty
grants/fontsize/*
.Rproj.user
Rplots.pdf
.Rhistory
.Rprofile
renv.lock
